@import "tailwindcss";

:root {
	--color-50: var(--color-slate-50);
	--color-600: var(--color-slate-600);
	--color-700: var(--color-slate-700);
	--color-800: var(--color-slate-800);
	--color-900: var(--color-slate-900);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: dark;
	color: var(--color-50);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type="file"] {
	display: none;
}

.cleanlink {
	color: inherit;
	text-decoration: none;
}

.cleanlink:hover {
	color: inherit;
}

a {
	font-weight: 500;
	color: var(--color-50);
	text-decoration: underline;
	transition: color 250ms;
}

a:hover {
	@apply text-sky-500;
}

h1,
h2,
h3 {
	margin: 0;
}

body {
	margin: 0;
	background-image: linear-gradient(
		45deg,
		var(--color-900),
		var(--color-700)
	);
}

html,
body {
	height: 100%;
}

#pagecontainer,
.container {
	padding: 5vh 5vw;

	&.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}
}

.h-90vh {
	height: 90vh;
}

.grid {
	display: grid;
}

.grid.equal-split {
	grid-template-columns: 1fr 1fr;
}

/* Designed for use with a single-page content with a header and a footer. */
.grid.wide-content {
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.grid.wide-content > *:nth-child(2) {
	max-height: 68vh;
	overflow: auto;
}

#pageheader {
	@apply flex gap-2;
}

#navheader {
	display: flex;
	justify-content: space-between;
}

.iconbutton {
	border: none;
	outline: none;
	padding: 0 7px;
	border-radius: 5px;
	background-color: var(--color-700);
	border: 1px solid transparent;
	transition: border-color 250ms;
	display: flex;
	justify-content: center;
	align-items: center;

	&.md {
		font-size: 1em;
		padding: 3px 10px;
	}
}

a.button {
	color: inherit;
}

.button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 10px 15px;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--color-700);
	cursor: pointer;
	transition:
		background-color 0.25s,
		border-color 0.25s;
	text-align: center;
	@apply leading-tight;

	&.square {
		padding: 10px;
	}

	&.active {
		background: linear-gradient(to top, var(--color-900), var(--color-700));
		border-color: var(--color-800);

		&:focus {
			.button.active:focus {
				outline: none;
			}
		}
	}

	&.danger {
		@apply text-rose-50;

		&:hover:not([disabled]) {
			@apply bg-rose-900;
			/* border-color: @rose-500; */
		}
	}
}

.iconbutton:hover:not([disabled]),
.button:hover:not([disabled]) {
	border-color: var(--color-600);
}

.iconbutton:focus,
.button:focus,
.button:focus-visible {
	outline: 4px auto #f0f0f0;
}

input[type="text"],
input[type="password"],
textarea,
[contenteditable="true"] {
	background-color: var(--color-600);
	color: inherit;
	border: none;
	outline: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-family: inherit;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	outline: 2px #f1f5f9 solid;
}

.list-tile {
	width: 100%;
	text-align: left;
}

p {
	margin: 0;
}

dialog {
	max-width: 75vh;
	border-radius: 8px;
	background-color: var(--color-900);
}

@media print {
	.exclude-printing {
		display: none;
	}
}

h2 {
	@apply text-2xl font-bold;
}

h3 {
	@apply text-xl font-bold;
}

.flex-col {
	flex-direction: column;
}
